@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-image: url("/src/assets/bg.jpg");
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
	height: 6px;
	width: 4px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #7c7c7c;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background: #7d56c1;
}

.volume {
	height: 32px;
	appearance: none;
	background-color: #272727;
	border-radius: 10px;
	overflow: hidden;
}

.volume::-webkit-slider-thumb {
	appearance: none;
	width: 15px;
	height: 32px;
	background-color: #7d56c1;
	box-shadow: -407px 0 0 400px #7d56c1;
	border: none;
}

.volume::-moz-range-thumb {
	appearance: none;
	width: 15px;
	height: 32px;
	background-color: #7d56c1;
	box-shadow: -407px 0 0 400px #7d56c1;
	border: none;
}

input[type="range"] {
	/* removing default appearance */
	-webkit-appearance: none;
	appearance: none;
	/* creating a custom design */
	cursor: pointer;
	outline: none;
	/*  slider progress trick  */
	overflow: hidden;

}

/* Track: webkit browsers */
input[type="range"]::-webkit-slider-runnable-track {
	height: 3px;
	background: #ccc;
	border-radius: 16px;
}

/* Track: Mozilla Firefox */
input[type="range"]::-moz-range-track {
	height: 5px;
	background: #ccc;
	border-radius: 16px;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
	/* removing default appearance */
	-webkit-appearance: none;
	appearance: none;
	/* creating a custom design */
	height: 5px;
	width: 5px;
	background-color: #9233ea;
	border-radius: 50%;
	border: 2px solid #9233ea;
	/*  slider progress trick  */
	box-shadow: -100vw 0 0 100vw #7d56c1;
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
	height: 15px;
	width: 15px;
	background-color: #9233ea;
	border-radius: 50%;
	border: 1px solid #9233ea;
	/*  slider progress trick  */
	box-shadow: -407px 0 0 400px #7d56c1;
}
